:root {
    --clara: #f9c9bd !important;
    --media: #f9b6ad !important;
    --destaque: #f26a6c !important;
    --escura: #ae5250 !important;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 60px 0;
    display: flex;
    align-items: center;
}


#home h1 {
    font-family: "Kaisei Decol", serif;
    font-size: 3rem;
}

#home p {
    font-size: 1.5rem;
}

/* slideshow */
@keyframes slideShow {
    0% {
        background-image: url("../img/caderno-planner-agenda-atilar-artesanal-kimono-1.png");
    }

    45% {
        background-image: url("../img/caderno-planner-agenda-atilar-artesanal-kimono-2.png");
    }

    75% {
        background-image: url("../img/caderno-planner-agenda-atilar-artesanal-kimono-3.png");
    }

    100% {
        background-image: url("../img/caderno-planner-agenda-atilar-artesanal-kimono-1.png");
    }
}

#home {
    position: relative;
    height: 100vh;
    color: #000;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    animation: slideShow 25s infinite alternate ease-in-out;
}

.card-blur {
    background: rgba(247, 247, 247, 0.55);
    /* caixa branca com transparência */
    backdrop-filter: blur(8px);
    /* desfoca o fundo */
    -webkit-backdrop-filter: blur(8px);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: inline-block;
    width: 1100px;
    margin: 1.5rem;
}

/* Padding padrão (mobile) */
.card-blur {
    padding: 1.5rem;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(247, 247, 247, 0.55);
}

/* Desktop */
@media (min-width: 769px) {
    .card-blur {
        padding: 5rem 6rem;
        /* aumente como quiser */
    }
}


#sobre,
#onde,
#contato,
#produto {
    height: 100vh;
    justify-content: center;
    text-align: center;
}

#sobre h2 {
    font-family: "Kaisei Decol", serif;
    font-size: 2rem;
}

#privacidade {
    height: auto;
}

.scroll-btn {
    margin-top: 30px;
}

.btn-dark {
    background-color: var(--destaque);
    border: 0 !important;
    outline: 0 !important;

}

.btn-dark:hover {
    background-color: var(--clara);
    color: var(--destaque);
    box-shadow: 0 5px 15px var(--destaque);
    border: 0 !important;
    outline: 0 !important;

}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark.active,
.show>.btn-dark.dropdown-toggle {
    background-color: var(--destaque) !important;
    color: var(--clara) !important;
    border-color: var(--clara) !important;
    box-shadow: 0 5px 15px var(--destaque) !important;
    border: 0 !important;
    outline: 0 !important;
}

.btn-dark.focus,
.btn-dark:focus {
    box-shadow: var(--destaque) !important;
    border: 0 !important;
    outline: 0 !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--clara) !important;
    border-bottom: 2px solid var(--clara);
}


.navbar-light .navbar-nav .nav-link {
    color: var(--destaque);
    transition: 0.2s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--clara);
    background-color: rgba(0, 0, 0, 0);
    /* mantém transparente */
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:active {
    color: var(--clara) !important;
    border-bottom: 2px solid var(--clara);
    border: 0px;

}

.navbar-light .navbar-nav .nav-link:focus {
    color: var(--clara);
    outline: none;
    border: 0px;

}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: .25rem;
}

.navbar-toggler:active {
    background-color: var(--destaque);
    border-color: var(--clara) !important;
    box-shadow: 0 5px 15px var(--destaque) !important;
    border: 0 !important;
    outline: 0 !important;
}

.navbar-toggler:focus {
    border-color: none !important;
    box-shadow: 0;
    border: 0 !important;
    outline: 0 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23f26a6c' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


.footer {
    background-color: var(--clara) !important;
    color: var(--escura) !important;
    padding: 20px 0;
    text-align: center;
}

.footer h6 {
    color: var(--destaque) !important;

}

.footer a {
    color: var(--escura) !important;
}

.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer a:hover {
    color: var(--destaque) !important;
    transition: color 0.2s ease;
}

.border-top {
    border-color: var(--destaque) !important;
}

.social-icons a svg {
    transition: transform 0.2s ease;
}

.social-icons a:hover svg {
    transform: scale(1.15);
}

.card {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-hover {
    position: relative;
    width: auto;
    height: 300px;
    overflow: hidden;
    border-radius: 0.25rem;
}

.img-hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
}


.img-hovered {
    opacity: 0;
}

.card:hover .img-hovered {
    opacity: 1;
}

.card:hover .img-default {
    opacity: 0;
}

.more-text {
    display: none;
}

.ler-mais {
    color: var(--destaque);
    cursor: pointer;
    text-decoration: none;
}

.ler-mais:hover {
    color: var(--media);
    text-decoration: none;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
}

.scroll-down span {
    position: absolute;
    width: 15px;
    height: 15px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-45deg);
    animation: scroll 1.5s infinite;
}

/*icone*/

.icon-wrapper {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
    background: var(--clara);
    color: var(--destaque);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-wrapper a {
    color: var(--destaque);
}

.icon-wrapper i {
    font-size: 2rem;
}

.card:hover .icon-wrapper {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px var(--destaque);
}

@keyframes scroll {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-10px, 10px);
        opacity: 0;
    }
}


.produto-bottom {
    position: absolute;
    bottom: 0;
    left: 80%;
    transform: translateX(-50%);
    height: 800px;
    transition: opacity 1.5s ease-in-out;
}

/*fade*/
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

body {
    opacity: 0;
    transition: opacity 1s ease;
}

body.loaded {
    opacity: 1;
}


h1 {
    font-size: 3rem;
    /* desktop */
}

/* Moblile ajust */
/* Small screen spacing */
@media (max-width: 768px) {

    #onde,
    #sobre,
    #contato,
    #produto {
        height: auto !important;
    }

    #home p {
        font-size: 1rem !important;
    }

    #home {
        padding: 0 1.5rem;
        text-align: center;
        justify-content: center;
    }

    #home .home-content {
        text-align: center;
        /* Centraliza texto */
    }

    #produto-img {
        height: 400px;
    }

    .navbar-brand img {
        height: 40px;
    }

    .btn {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    #produto .card {
        width: 90%;
        margin: 0 auto;
    }

    section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    h1 {
        font-size: 1.5rem !important;
        /* força o tamanho no mobile */
    }

}

/* Área contendo tudo */
.reviews-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}

/* Track animando */
.reviews-track {
    display: flex;
    gap: 40px;
    animation: scrollLoop 30s linear infinite;
}

/* Animação de loop perfeito */
@keyframes scrollLoop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
        /* Move metade, pois duplicamos os itens */
    }
}

/* Card */
.review-card {
    min-width: 300px;
    max-width: 320px;
    background: white;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    text-align: left;
    border-left: 4px solid var(--destaque);
}

/* Textos */
.review-text {
    font-size: 0.95rem;
    line-height: 1.4;
}

.review-author {
    font-size: 0.8rem;
    color: #555;
}

/* ----- Degradês laterais ----- */
.reviews-gradient-left,
.reviews-gradient-right {
    position: absolute;
    top: 0;
    width: 90px;
    height: 100%;
    pointer-events: none;
    /* não atrapalha clique */
    z-index: 3;
}

/* degradê da esquerda */
.reviews-gradient-left {
    left: 0;
    background: linear-gradient(to right, rgba(247, 247, 247, 1), rgba(255, 255, 255, 0));
}

/* degradê da direita */
.reviews-gradient-right {
    right: 0;
    background: linear-gradient(to left, rgba(247, 247, 247, 1), rgba(255, 255, 255, 0));
}

/* MOBILE: permitir arrastar com o dedo */
@media (max-width: 768px) {
    .reviews-track {
        animation: none !important;
        transform: none !important;
        will-change: auto !important;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        gap: 10px;

    }

    .review-card {
        display: inline-block;
        min-width: 200px;
        scroll-snap-align: start;
        margin-right: 16px;
        max-width: 80%;
        scroll-snap-align: start;
        box-sizing: border-box;
        white-space: normal !important;
        margin-bottom: 3rem;
    }

    /* opcional: esconder scrollbar 
    .reviews-track::-webkit-scrollbar {
        display: ;
    }
*/
    .review-card p,
    .review-card .review-text,
    .review-card .review-author {
        white-space: normal !important;
        /* permite quebrar linha normalmente */
        display: block;
    }

    /* impedir que o conteúdo cresça além do card */
    .review-card {
        white-space: normal !important;
    }
}



/*formulario*/
input:focus,
textarea:focus {
    outline: none;
    border: 0 !important;
    border-color: none !important;
    box-shadow: 0 0px 10px var(--destaque) !important;
}

::placeholder {
    color: var(--destaque) !important;
    opacity: 60% !important;

}

/*whatsapp icone*/

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    /* distância do rodapé */
    right: 20px;
    /* distância da lateral direita */
    background-color: #25D366;
    /* verde WhatsApp */
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, transform 0.3s;
}

.whatsapp-float:hover {
    background-color: #20b858;
    transform: scale(1.1);
    color: white;
}
